/*
Styling for base.html
*/

.topnav {
    overflow: hidden;
    background-color: #333;
  }

.test {
    float:right;
    padding-top: 1%;
    font-size: 14pt;
    font-family: 'Times New Roman', Times, serif;
}

.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 30px;
}

.topnav .icon {
  display: none;
}

.topnav a.nav-link:hover {
color: #58b0e0;
}

@media screen and (max-width: 600px) {
  .topnav a.nav-link{display: none;}
  .topnav a.icon {
    float: right;
    display: block;
  }
}

@media screen and (max-width: 600px) {
  .topnav.responsive {position: relative;}
  .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a.nav-link {
    float: center;
    display: block;
    text-align:left;
    border: 1px solid;
    width: 100vw;
  }
}
 
.imagelogo-index {
  width: 40px;
  height: 40px;
  float: left;
}   

.wrapper {
  background-color:white;
}

.app-label {
  padding-top: 10px;
  font-size: 30px;
  color: whitesmoke;
  text-align: center;
}

.content-index{
  background-color: white;
  width: 100vw;
  height: 700px;
}
.navbar .navbar-custom{
  background-color: black;
}

.footer-index {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 30px;
  background-color: #333333;
  color: white;
  text-align: center;
 }